<!DOCTYPE html>
<html>
<head>
<title>
	Restaurant Inspections 
</title>
<meta name="viewport" content="width=device-width, user-scalable=yes">
<!--[if lte IE 9]><script src="/js/matchMedia.js"></script><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/design.css" type="text/css" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/js/inspections.js"></script>
<script src="/js/script.js"></script>
<script src="/js/spin.min.js"></script>
<script src="/js/leaflet.spin.js"></script>
</head>

<body>
	<div class="container">
			<div class="popup-window">
				<div id="about">
					<p>
						<span>About</span>
						<br />This site is designed to help you quickly identify businesses and other food establishments that have had critical and non critical issues in the last 3 years (2010-2012). This map's sole purpose is to disseminate raw data provided to us by the Nebraska Department of Agriculture.
						<br /><br />
						<i>Use this information at your own risk.</i>
						<br /><br />
						Created by Ross Nelson, Dustin Lipskey, and other contributors. <a href="https://github.com/rnelson/ne_state_restaurant_inspections">View on Github</a>. Made in coopration with <a href="http://opennebraska.io">Open Nebraska</a>.
					</p>
				</div>
				<div id="how">
					<p>
						<span>How To Use</span>
						<br />You may click on any point that loads on the map, showing you a snapshot of the location. You can link to that specific result, or you may also look at any other properties owned by that property owner.
						<br /><br />
						NEW! You can now search by restaurant OR location! For example a query like <code>14th and Old Cheney</code> will now center the map on the intersection of 14th and Old Cheney Rd in Lincoln, NE. <br /><b><i>Best practices recommend that you include the city name at all costs just to ensure accuracy.</i></b>
					</p>
				</div>
				<div id="soon">
					<p>
						<span>Coming Soon</span>
						<br />
						<ul>
							<li>Social network integration, such as Yelp!, Foursquare, and Urbanspoon.</li>
							<li>More robust (and faster) loading sequences.</li>
							<li>Better mobile support.</li>
						</ul>
					</p>
				</div>
				<a class="link-close">close</a>
				<div style="clear:both;">&nbsp;</div>
			</div>
		<div class="heading">
			<div class="meter">
				<div id="meter-inside">
				</div>
			</div>
			<div class="heading-header">
				<a href="/">Nebraska Food Inspections</a>
			</div>
			<div class="home">
				<img src="/img/home.png" />
			</div>
			<div class="heading-header-links">
				<a class="popup link-about">about</a> | <a class="popup link-how">how to use</a> | <a class="popup link-soon">coming soon</a>
			</div>
			<div class="search-box">
				<a href="" class="share-link">Share</a>
				<form id="form">
					<input type="text" id="search" name="search" placeholder="Find restaurant or location..." />
					<input type="submit" id="searchbutton" value="" />
				</form>
			</div>
		</div>
		<div class="map">
			<div id="map"></div>
		</div>
	</div>
</body>
</html>