<!DOCTYPE html>
<html>
<head>
<title>
	Restaurant Inspections 
</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/design.css" type="text/css" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/js/inspections.js"></script>
<script src="/js/script.js"></script>
<script src="/js/spin.min.js"></script>
<script src="/js/leaflet.spin.js"></script>
</head>

<body>
	<div class="container">
		<div class="heading">
			<div class="heading-header">
				<a href="/">Nebraska Food Inspections (2010 - 2012)</a>
			</div>
			<div class="home">
				<img src="/img/home.png" />
			</div>
			<div class="search-box">
				<a href="" class="share-link">Share</a>
				<form id="form">
					<input type="text" id="search" name="search" placeholder="Find a restaurant" />
					<input type="submit" id="searchbutton" value="" />
				</form>
			</div>
		</div>
		<div class="map">
			<div id="map"></div>
		</div>
	</div>
</body>
</html>