html, body, .container { font-family: 'Open Sans'; height: 100%; margin: 0; }
a, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline;}
.heading { width: 100%; position: absolute; background: transparent; color: #000; text-align: center; z-index: 7; }
.map { position: relative; height: 100%; width: 100%; }
#map { height: 100%; clear: both; }
.name { font-weight: bold; font-size: 130%; }

/* heading / search box / meter loading bar */
.heading-header, .heading-header-links { font-size: 23pt; text-align: left; z-index: 6; position: relative; left: -10px;float: left; background: rgba(0,0,0,.8); padding: 0 20px; transition: .5s background ease-in-out; -webkit-transition: .5s background ease-in-out; -moz-transition: .5s background ease-in-out; -ms-transition: .5s background ease-in-out; -webkit-transform: skew(-10deg); -moz-transform: skew(-10deg); -ms-transform: skew(-10deg); transform: skew(-10deg); }
.heading-header-links { background: rgba(112,112,112,.6); padding-left: 90px; left: -10px; font-size: 11pt; color: #fff; clear: both; }
.heading-header-links a { color: #fff; cursor: pointer; }
.heading-popup-info { font-weight: bold; border-bottom: 1px solid #ccc;	 }
.search-box { position: absolute; top: 10px; z-index: 2; margin: 0; height: 31px; right: 50px; width: 444px; box-shadow: 0 0 20px #666; }
.search-box input[type="text"] { float: left; font-family: 'Open Sans'; font-weight: 300; width: 300px; height: 30px; -webkit-appearance: none; border: 0px; font-size: 18px; font-style: italic; padding: 0 10px; }
.search-box input[type="submit"] { float: right; background: url('../img/search.png') no-repeat center center #27AB2C; -webkit-appearance: none; font-size: 14px; color: #fff; width: 65px; height: 31px; position: relative; border: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px; margin: 0; padding: 0; }
.search-box input[type="submit"]:hover { background-color: #167419; cursor: pointer; }
.share-link, .share-link:visited { float: left; color: #000; text-decoration: none; position: relative; margin: 0px; border-right: 1px solid #ccc; height: 27px; padding-top: 4px; width: 58px; background: rgba(255,255,255,.8); }
.share-link:hover { text-decoration: none; background: rgba(255, 128, 128, .8);}
.heading-header a, .heading-header a:visited { color: #fff; text-decoration: none;  }
.home { display: none; float: left; position: relative; top: 0; z-index: 4; -webkit-transform: skew(-10deg); -moz-transform: skew(-10deg); -ms-transform: skew(-10deg); transform: skew(-10deg); background: rgba(0,0,0,.5); padding: 3px 10px 2px 10px; left: -10px; }

/* popups n stuff */
.popup-info { position: absolute !important; font-family: 'Open Sans'; font-size: 120%; top: 50px; right: 50px; width: 380px; overflow-y: auto; overflow-x: hidden; left: initial; bottom: initial; opacity: 1 !important; -webkit-transition: 1s opacity; -moz-transition: 1s opacity; -ms-transition: 1s opacity; transition: 1s opacity; }
.popup-window { padding: 10px 0px; width: 100%; margin: 0 auto; z-index: 5; position: relative; display: none; background: #000; color: #aaa; }
.leaflet-popup-content-wrapper { box-shadow: 0px 0px 40px #666; }
.popup-window a { color: #acf; }
.popup-window p, .popup-window ul { width: 60%; margin-left: 10%; font-size: 10pt; -webkit-transition: .5s padding; }
.popup-window ul ul { margin: 0; }
.popup-window .link-close { cursor: pointer; color: #fff; float: right; border-radius: 3px; position: absolute; top: 15px; right: 15px; padding: 10px 30px; background: #800; font-size: 18pt; text-decoration: none; }
.popup-window .link-close:hover { text-decoration: none; background: #a33; }
.popup-window p span { font-size: 14pt; font-weight: bold; color: #ddd; }
.shareTo { position: absolute; top: 30px; right: 5px; }
.shareTo a { float: right; clear: both; }
.firm-page .linkTo { display: none; }
.shareTo .twitter-link { margin-right: 2px; }
.fb-link:hover:before { content: 'share on facebook'; background: #000; color: #fff; padding: 0px; position: relative; top: -4px; right: 5px; padding: 5px; text-decoration: none; }
.twitter-link:hover:before { content: 'tweet this result'; background: #000; color: #fff; padding: 0px; position: relative; top: -4px; right: 5px; padding: 5px; text-decoration: none; }
.notice { position: fixed; bottom: 0px !important; width: 100%; background: #faa; color: #700; font-size: 12pt; display: none; z-index: 10000; padding: 7px 0; text-align: center; }
body:not(.firm-page) .inspectionsData .heading-popup-info { display: none; }

/* leaflet customizations */
.leaflet-map-pane { width: 100%; height: 100%; }
.leaflet-top { top: 45px !important; }
.leaflet-popup-content-wrapper { background: rgba(255,255,255,.7); }
.leaflet-popup-content { margin-left: 50px !important; margin: 10px 19px !important; }
.leaflet-popup-pane { width: 100%; }
.leaflet-popup-content-wrapper { border-radius: 0px !important; -webkit-border-radius: 0px !important; }
.leaflet-popup-tip-container { display: none; }
.leaflet-bottom { z-index: 0 !important; }

/* for those mobile users */
@media all and (max-width: 768px) {
	.heading-header { font-size: 17pt; }
	.heading-header-links { padding-left: 40px; }
	.home img { height: 22px; }
	.search-box { width: 310px; }
	.search-box input[type="text"] { width: 166px; border-radius: 0px; }
}

@media all and (min-width: 640px) { 
	.popup-info { height: 400px; }
}

@media all and (max-width: 640px) {
	.heading-header { float: none; -webkit-transform: none; left: 0px; padding: 0 5px; }
	.search-box { position: relative; height: auto; top: 10px; right: 0px; margin: 0 auto; width: 300px; }
	.search-box input[type="submit"] { width: 55px; border-radius: 0px; }
	.leaflet-top { top: 80px !important; }
	.leaflet-map-pane { z-index: 4 !important; }
	.popup-info { z-index: 7; top: initial; right: initial; bottom: 0px !important; width: 100%; height: 200px; }
	.popup-window p, .popup-window ul { width: 80%; padding: 0% 10%; margin-left: 0px; }
	.popup-window .link-close { padding: 5px 10px; right: 5px; top: 5px; }
	.leaflet-popup-pane { z-index: 5 !important; left: initial !important; top: initial !important; bottom: 0;}
}