# File locations are relative to the script, e.g. in setup/
process:
  input_file: 'State_restaurant_inspections.csv'
  db_host: '127.0.0.0'
  db_name: 'inspections'
  db_user: 'inspections_user'
  db_pass: 'p4ssw0rd'

development:
  db_host: '127.0.0.0'
  db_name: 'inspections'
  db_user: 'inspections_user'
  db_pass: 'p4ssw0rd'

production:
  db_host: '127.0.0.0'
  db_name: 'inspections'
  db_user: 'inspections_user'
  db_pass: 'p4ssw0rd'
