# File locations are relative to the script, e.g. in setup/
process:
  input_file: 'State_restaurant_inspections.csv'
  db_host: '127.0.0.1'
  db_name: 'inspections'
  db_user: 'inspections_user'
  db_pass: 'p4ssw0rd'

development:
  db_host: '127.0.0.1'
  db_name: 'inspections'
  db_user: 'inspections_user'
  db_pass: 'p4ssw0rd'
  fsq_client_id: 'MYCLIENTID'
  fsq_client_secret: 'MYCLIENTSECRET'
  ua: off
  ua_key: 'UA-42-1'
  ua_dom: 'local'

production:
  db_host: '127.0.0.1'
  db_name: 'inspections'
  db_user: 'inspections_user'
  db_pass: 'p4ssw0rd'
  fsq_client_id: 'MYCLIENTID'
  fsq_client_secret: 'MYCLIENTSECRET'
  ua: on
  ua_key: 'UA-42-1'
  ua_dom: 'local'