# Based on http://sleekd.com/general/configuring-nginx-and-unicorn/

worker_processes 5;
user www-data www-data;

pid /var/www/nginx.pid;
error_log /var/www/logs/nginx.error.log;

events {
  worker_connections 1024;
  accept_mutex on;
}

http {
  include mime.types;
  default_type application/octet-stream;
  access_log /var/www/logs/nginx.access.log combined;

  sendfile on;
  tcp_nopush on;
  tcp_nodelay off;

  gzip on;
  gzip_http_version 1.0;
  gzip_proxied any;
  gzip_min_length 500;
  gzip_disable "MSIE [1-6]\.";
  gzip_types text/plain text/html text/xml text/css
             text/comma-separated-values
             text/javascript application/x-javascript
             application/atom+xml;

  upstream unicorn_server {
   server unix:/var/www/.unicorn.sock fail_timeout=0;
  }

  server {
    listen 80;
    client_max_body_size 4G;
    server_name foodinspections.opennebraska.io;

    keepalive_timeout 5;

    root /var/www/public;

    location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;

      if (!-f $request_filename) {
        proxy_pass http://unicorn_server;
        break;
      }
    }

	error_page 404 /404.html;
    error_page 500 502 503 504 /500.html;
    
    location = /404.html {
      root /var/www/public;
    }
    location = /500.html {
      root /var/www/public;
    }
  }
}